<html>
    <head>
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">  
        <style>
            
            .d1{
                margin-top:3%;
                background-color: whitesmoke;
                position:relative;
                height: 550px;
                width: 520px;
                border-radius: 10px;
            }

            .h3{
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .form-control{
                
                width: 400px;
            }
        </style>
        <script>
            function validate()
            {
             var p1 = document.getElementById('p1')
                var r = /^[A-Za-z]+$/
                var num = /[0-9]/
                var lower = /[a-z]/
                var upper = /[A-Z]/

                if (p1.value.length<7 || p1.value.length>15)
                {
                    alert("Password's min length should be 8 & max length should be 14")
                    p1.value=""
                    p1.focus()
                    return false
                }
                if (! num.test(p1.value))
                {
                    alert('Your password should contain atleast one digit')
                    p1.value=""
                    p1.focus()
                    return false
                }
                
                if (! lower.test(p1.value))
                {
                    alert('Your password should contain atleast one lower character')
                    p1.value=""
                    p1.focus()
                    return false
                }
                if (! upper.test(p1.value))
                {
                    alert('Your password should contain atleast one upper character')
                    p1.value=""
                    p1.focus()
                    return false
                }
                return true
            }
        
        </script>
    </head>

    <body>
        <center>
            {% if(message == 1) %}
            <div class="alert alert-warning" role="alert">
                    User does not exists
                  </div>      
            {% endif %}

            {% if(message == 2) %}
            <div class="alert alert-success" role="alert">
                    Password was successfully changed. Login now
                  </div>      
            {% endif %}

            {% if(message == 3) %}
                <div class="alert alert-danger" role="alert">
                    Passwords do not match
                  </div>      
            {% endif %}

            {% if(message == 4) %}
            <div class="alert alert-warning" role="alert">
                    User already registered
                  </div>      
            {% endif %}

        <div class="d1">
            <br><br>
            <h3>Forgot Password?</h3>
            <br><br>
            <form action="/fp" method="POST" onsubmit="return validate()">
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" name= 'uname' placeholder="Enter your username" required>
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" name= 'email' placeholder="Enter your email" required>
                <br>
                <input title="Password should include:
                Digits: 0-9
                Atleast one lowercase letter
                Atleast one uppercase letter
                Min length: 8 & Max length: 14" type="password" class="form-control" id="p1" name= 'pw1' placeholder="New Password" required>
                <br>
                <input type="password" class="form-control" id="exampleFormControlInput1" name = 'pw2' placeholder="Confirm new password" required>
            </div>
            <br><br><br>
            <button type="submit" class="btn btn-danger">Submit</button>
            <br>
            <br>
           <a href='{{ url_for("login") }}'><b>Login</b></a>
            </form>
            <br>
            <br>
            
        </div>
        </center>

    </body>
</html>