<html>
    <head>
        <title>Lung Cancer Detection</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">  
        <link rel="stylesheet" href="static/main.css">
    </head>

    <body>

    <center>
        <br>
        <br>
        <div class="d1">
            <br><br>
            <h3>CREATE ACCOUNT</h3>
            <br>
            <form action="/signup" method="POST">
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Full Name" required>
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Username" required>
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password" required>
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Retype your password" required>
            </div>
            <br>
            <button type="button" class="btn btn-danger">SIGN UP</button>
            </form>
            <br><br>
            <p>Have an account already? <a href="login.html"><b>Login here</b></a></p>
        </div>
    </center>
    
    </body>
</html>