<html>
    <head>
        <title>Lung Cancer Detection</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">  
        <style>
            body{
                background-color: blanchedalmond;
            }

            .d1{
                background-color: whitesmoke;
                position:relative;
                height: 550px;
                width: 520px;
                border-radius: 10px;
            }

            .h3{
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .form-control{
                
                width: 400px;
            }
        </style>
    </head>

    <body>

    <center>
        <br>
        {% if(msg == 3) %}
                <div class="alert alert-danger" role="alert">
                    Passwords didn't match
                  </div>      
            {% endif %}
        {% if(msg == 4) %}
            <div class="alert alert-warning" role="alert">
                    User already registered
                  </div>      
            {% endif %}
        <br>
        <div class="d1">
            <br><br>
            <h3>CREATE ACCOUNT</h3>
            <br>
            <form action="/signup" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" name = 'name' placeholder="Full Name" required>
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput1" name= 'uname' placeholder="Username" required>
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput1" name= 'pw1' placeholder="Password" required>
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput1" name = 'pw2' placeholder="Retype your password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-danger">SIGN UP</button>
            </form>
            <br><br>
            <p>Have an account already? <a href='{{ url_for("login") }}'><b>Login here</b></a></p>
        </div>
    </center>
    {{ msg }}
    </body>
</html>